{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2017,
    "experimentalObjectRestSpread": true
  },
  "extends": ["finn", "finn/node", "finn-prettier"],
  "env": {
    "node": true,
    "jest": true
  }
}
